body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #ebc0c0;
    padding: 20px;

    justify-content: center;
}

header {
    background-color: #e0e0e0;
    color: #000000;
    padding: 5px;
    text-align: center;
    border: 2px solid #bb5d5d;
    box-shadow: 1px 3px #5a4399;
    border-radius: 15px;
}

form {
    background-color: #e0e0e0;
    border: 2px solid #bb5d5d;
    border-radius: 10px;
    padding: 25px;
    margin-top: 10px;
}

label {
    color:#000000
}

input {
    width: 95%;
    padding: 15px;
    border-radius: 2px;
}

button {
    margin-top: 20px;
    background-color: #bb5d5d;
    color: white;
    padding: 8px;
    border-radius: 5px;
}

button:hover {
    background-color: #5a4399;
}

.resultado-container {
    background-color: #e0e0e0;
    margin-top: 10px;
    padding: 15px;
    border: 2px solid #bb5d5d;
    border-radius: 10px;
    color: #000000;
    font-size: 80%;
}

footer {
    padding: 10px;
    font-size: 80%;
    text-align: left;
    color: #000000
}